<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="menu-toolbar-default"></ion-back-button>
    </ion-buttons>
    <ion-title>{{deckTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="showSheetOptions()" class="menu-toolbar-default download-img" name="md-more"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <fieldset>
          <legend>Deck Info</legend>
          <ion-grid>
            <ion-row>
              <ion-item>
                <ion-label>Format</ion-label>
                {{ vDeck['format'] | titlecase }}
              </ion-item>
              <ion-item>
                <ion-label>Colors</ion-label>
                <abbr *ngIf="vDeck['white_sym'] == true" class="card-symbol card-symbol-W" title="one white mana"></abbr>
                <abbr *ngIf="vDeck['blue_sym'] == true" class="card-symbol card-symbol-U" title="one blue mana"></abbr>
                <abbr *ngIf="vDeck['black_sym'] == true" class="card-symbol card-symbol-B" title="one black mana"></abbr>
                <abbr *ngIf="vDeck['red_sym'] == true" class="card-symbol card-symbol-R" title="one red mana"></abbr>
                <abbr *ngIf="vDeck['green_sym'] == true" class="card-symbol card-symbol-G" title="one green mana"></abbr>
                <abbr *ngIf="vDeck['colorless_sym'] == true" class="card-symbol card-symbol-C" title="one colorless mana"></abbr>
              </ion-item>
              <ion-item>
                <ion-label>Cards</ion-label>
                {{ vDeck['main'] }} main / {{ vDeck['side'] }} side
              </ion-item>
            </ion-row>
          </ion-grid>
        </fieldset>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <fieldset>
          <legend>Main</legend>
          <ion-grid>
            <ion-row>
              <span>No cards yet</span>
            </ion-row>
          </ion-grid>
        </fieldset>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <fieldset>
          <legend>Side</legend>
          <ion-grid>
            <ion-row>
              <span>No cards yet</span>
            </ion-row>
          </ion-grid>
        </fieldset>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
