<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-toolbar-default"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshHome($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row align-items-start>
      <ion-col size="12">
        <fieldset>
          <legend>My Decks</legend>
          <ion-grid>
            <ion-row align-items-start>
              <ion-col size="12">
                <ion-item *ngFor="let d of vDecks" (click)="viewDeck(d.id)" detail>
                  <ion-label text-wrap>
                    <h2 class="my-deck-title">
                      {{d.title}}
                    </h2>
                    <p>
                      <abbr *ngIf="d.white_sym == true" class="card-symbol card-symbol-W" title="one white mana"></abbr>
                      <abbr *ngIf="d.blue_sym == true" class="card-symbol card-symbol-U" title="one blue mana"></abbr>
                      <abbr *ngIf="d.black_sym == true" class="card-symbol card-symbol-B" title="one black mana"></abbr>
                      <abbr *ngIf="d.red_sym == true" class="card-symbol card-symbol-R" title="one red mana"></abbr>
                      <abbr *ngIf="d.green_sym == true" class="card-symbol card-symbol-G" title="one green mana"></abbr>
                      <abbr *ngIf="d.colorless_sym == true" class="card-symbol card-symbol-C" title="one colorless mana"></abbr>
                      |
                      {{d.format}}
                    </p>
                    <p>
                      CMC: {{d.cmc}}
                      |
                      Main: {{d.main}}
                      |
                      Side: {{d.side}}
                    </p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button fill="outline" class="collection-open-button" routerLink="/pg-deck-home" routerDirection="forward">View All</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </fieldset>
      </ion-col>
    </ion-row>

    <ion-row align-items-start>
      <ion-col size="12">
        <fieldset>
          <legend>My Collection</legend>
          <ion-grid>
            <ion-row align-items-start>
              <ion-col size="12">
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-icon style="font-size: 60px;" name="folder"></ion-icon>
                  </ion-thumbnail>
                  <ion-label text-wrap>
                    <h3>Pauper Binder</h3>
                    <p>Cards: 458</p>
                  </ion-label>
                  <ion-button fill="outline" slot="end" class="collection-open-button">Open</ion-button>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-icon style="font-size: 60px;" name="folder"></ion-icon>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>All Cards Binder</h3>
                    <p>Cards: 1.897</p>
                  </ion-label>
                  <ion-button fill="outline" slot="end" class="collection-open-button">Open</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button fill="outline" class="collection-open-button">View All</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </fieldset>
      </ion-col>
    </ion-row>

    <ion-row align-items-start>
      <ion-col size="12">
        <fieldset>
          <legend>Magic Sets</legend>
          <ion-grid>
            <ion-row align-items-start *ngFor="let s of vSets">
              <ion-col size="12">
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img src="{{s.url_icon}}" />
                  </ion-thumbnail>
                  <ion-label text-wrap>
                    <h3>{{s.name}}</h3>
                    <p>Cards: {{s.card_count}}</p>
                  </ion-label>
                  <ion-button fill="outline" slot="end" class="collection-open-button" (click)="detailSet(s.id)">View</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="vShowMoreSets == true">
              <ion-col size="12">
                <ion-button fill="outline" class="collection-open-button" routerLink="/set-list" routerDirection="forward">View All</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </fieldset>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
