ion-list:last-child{
  --border-color: #FFF;
}
ion-grid{
  padding: 0;
  margin: 0;
}
ion-label{
  margin: 0;
  padding: 0;
}
.my-deck-title{
  font-size: 18px;
  margin-bottom: 6px;
}
.collection-open-button{
  --border-color: #EA4B12;
  --color: #EA4B12;
  --background-activated: #EA4B12;
  --background-focused: #EA4B12;
}
