<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="menu-toolbar-default" defaultHref="set-list"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">{{Set.set_name}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="execDwldSetImg(Set.set_code, Set.set_id)" class="menu-toolbar-default download-img" name="cloud-download"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--
car_layout
==========
planar
token
host
split
saga
augment
double_faced_token
scheme
normal
emblem
vanguard
leveler
transform
meld
flip
-->

<ion-content>
  <ion-row>
    <ion-col size="6" align-self-center text-center *ngFor="let c of vSetCards">
      <img class="magic-card" *ngIf="c.html == ''" (click)="showImage(c.path, c.name)" src="{{c.path}}" />
      <div *ngIf="c.html != ''" [innerHTML]="c.html" (click)="showImage(c.id, c.name)"></div>
    </ion-col>
  </ion-row>

  <div text-center *ngIf="!vDisableInfinite">
    <ion-button fill="outline" class="collection-open-button" (click)="loadData()">Load More</ion-button>
  </div>
  <!--
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  -->
</ion-content>
