.title{
  width:100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
ion-row{
  background-color: #FFF;
}
ion-col{
  display: flex;
  justify-content: center;
}
