<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="menu-toolbar-default" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Set List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->

  <ion-searchbar #mySearchbar (ionChange)="filterList($event)" placeholder="Filter Set"></ion-searchbar>

  <div text-center *ngIf="vShowLoader == true">
    <ion-spinner text-center name="crescent"></ion-spinner>
  </div>

  <ion-item *ngFor="let s of vSets" detail (click)="detailSet(s.id)">
    <ion-thumbnail slot="start">
      <img src="{{s.url_icon}}" />
    </ion-thumbnail>
    <ion-label text-wrap>
      <h3>{{s.name}}</h3>
      <p>Cards: {{s.card_count}}</p>
      <p>Released At: {{s.release_dt}}</p>
    </ion-label>
  </ion-item>
</ion-content>
